//
   Created by davidhong on 30/04/2017.

doctype html
html(lang="ko")
    head
        meta(charset='utf-8')
        title= upload
    body
        form(action='upload' method='post' enctype='multipart/form-data')
            input(type='file' name='userfile')
            input(type='submit')

